<div class="container">

    <div class="row">
         <h1 class="text-center">Register Here</h1>

         <form>
            <!--Username-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              <!--Password-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              <!--Email-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              <!--Phone No-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              <!--Account No-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              <!--Bank Name-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              <!--IFSC Code-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
              
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Here">
              </mat-form-field>
         </form>
    </div>
</div>
